.InteractionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50px;
    position: absolute;
    left: -7%;
    top: 100px;
    user-select: none;
}

.likes,
.saved,
.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.likes img,
.saved img,
.comments img {
    width: 25px;
    height: 25px;
    transform: translateY(50%);
}

.likes:hover img:not(.activated) {
    content: url('../Assets/like hover.png');
}

.saved:hover img:not(.activated) {
    content: url('../Assets/saved hover.png');
}

.comments:hover img:not(.activated) {
    content: url('../Assets/comment hover.png');
}
